<h5>in show page</h5>


<h2>First Name:<%= @user.first_name %></h2>
<h2>Lat Name:<%= @user.last_name %></h2>
<h2>Email:<%= @user.email %></h2>

<a href="/users/edit/<%=@user.id%>">Edit</a> |
<a href="/users">Back</a>